/* Utility classes */
.font_weight{font-weight: 600;}
.border_left{border-left: 1px solid black;}
.wi_100, .form>div, #customBtn {width: 100%;}
.text_end{text-align: end;}


/* Color: Text / Bacground */
footer {background-color: #031C4E;}
.ft_riga>li>a, .riga, .jumbotron, .bg_blueg, .helper_chat {color:  white;}
.jumbotron{background-color: #004AFF;}
.bg_blueg {
    background: rgb(12, 1, 135);
    background: linear-gradient(4deg, rgba(12, 1, 135, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 31, 255, 0.9136029411764706) 100%);
}
footer small {color: #7a859d;}
.Gbtn_color {color: #006AFf!important;}
.cr_bl_gr {color: #6F7B97;}
.cr_blue, .row.cr_blue {color: #031C4E!important;}
.riga.row>div>a{color: #00D6D2;}
.riga.row>div:hover a {color: blue;}
/* Color: Text / Bacground */

/* Margin & Padding classes */
.ml_5{margin-left: 10px;}
.mr_5{margin-right: 10px;}
.mtb_10{margin: 10px 0;}
.m_10{margin: 10px;}
.mlr_10{margin: 0 10px;}
.mt_10{margin-top: 10px;}
.mb_10{margin-bottom: 10px;}
.p_8{padding: 8px;}

.pt_10{padding-top: 10px;}

.plr_20{padding: 20px;}
.ptb_20 {padding: 20px 0;}
.pb_20 {padding-bottom: 20px;}
.pt_10 {padding-top: 20px;}

.ptb_40{padding: 40px 0;}
.pb_40{padding: 0 0 40px 0;}
.plr_40{padding: 0 40px;}
.pr_40 {padding: 0 40px 0 0;}

.ptb_80{padding: 80px 0;}
.pb_80 {padding: 0 0 80px 0;}
.pr_80 {padding: 0 80px 0 0;}
/* /Margin & Padding classes */
/* /Utility classes */


/* Google sign-in button */
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

span.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
}

span.buttonText {
    vertical-align: middle;
    font-weight: bold;
}
/* /Google sign-in button */

.logo_nav > img {width: 150px;}
.navbar, .bg_grey {background-color: #F3F5F9;}
.ft_riga>li>a, .riga, .line_h, ul.line_h>li{line-height: 2em;}
a{text-decoration: none!important;}
.jumbotron{margin-bottom: 0;}

.btn_b_blue{
    background-color: white;
    border: 1px solid #3587FF;
    border-radius: 5px;;
}

.btn_b_blue>a{color: #3587ff;}
.form{width: 100%;}
.form>* {display: block;}

.card{
    background-color: white;
    border-radius: 5px;
    height: 325px;
    
}

.vertical{
    margin-top: 10%;
    font-weight: 600;
    font-size: 60px;
}
.img_car{width: 50%;}
#create_your_account>span{color: white;}
#create_your_account {
    text-align: center;
    background-color: #579AFF;
}

.res_input{
    color: gray!important;
    text-align: left;
    border-color: #F8F8F8;
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
}
.card>h3, .fs_fh{
    font-size: 24px;
    font-weight: 600;
}


span:nth-child(2)>i {background-color: blue;}
span>i.fa-circle {
    border-radius: 50%;
    color: blue;
}
.riga{border-bottom: 1px solid white;}
.fab{font-size: 30px;}
.helper_chat {position: relative;}
.helper_chat>img{
    position: fixed;
    right: 30px;
    bottom: 30px;
}


.dropdown{display: none;}
@media screen and (max-width: 1199px) {
    .menu_right,    .menu_center {display:none;}
    .glyphicon-menu-hamburger{
        line-height: 100%;
        font-size: large;
        font-weight: 600;
    }
    .dropdown {
        color: #337ab7 !important;
        display: block;
        text-align: right;
    }
            
    .dropdown-menu>li>a {color: #337ab7;}
    .dropdown:hover .dropdown-menu {
        display: block;
        right: 0;
        left: auto;
    }
            
    .dropdown_hamburger>a {color: white !important;}
    .dropdown_hamburger {
        margin: 0 10px;
        border-radius: 5px;
        text-align: center;
        background-color: #579AFF;
    }
    .fl_right {
        float: right;
    }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .jumbotron h1{
         font-size: 40px;
        text-align: left;
}
    .jumbotron .pr_80{
        padding-left: 20px;
        text-align: left;
}
.co_logo>div>img{
    width: 100%;
    margin: 0 5px;
}
.vertical{font-size: 30px;}
}

@media screen and (max-width: 768px){
    .col_xs_1 {width: calc((100%/12) *1);}
    .col_xs_2 {width: calc((100%/12) *2);}
    .col_xs_3 {width: calc((100%/12) *3);}
    .col_xs_4 {width: calc((100%/12) *4);}
    .col_xs_5 {width: calc((100%/12) *5);}
    .col_xs_6 {width: 50%;}
    .col_xs_7 {width: calc((100%/12) *7);}
    .col_xs_8 {width: calc((100%/12) *8);}
    .col_xs_9 {width: calc((100%/12) *9);}
    .col_xs_10 {width: calc((100%/12) *10);}
    .col_xs_11 {width: calc((100%/12) *11);}
    .col_xs_12 {width: 100%;}
    /* offset small */
    .col_xs_offset_1 {margin-left: calc((100%/12) *1);}
    .col_xs_offset_2 {margin-left: calc((100%/12) *2);}
    .col_xs_offset_3 {margin-left: calc((100%/12) *3);}
    .col_xs_offset_4 {margin-left: calc((100%/12) *4);}
    .col_xs_offset_5 {margin-left: calc((100%/12) *5);}
    .col_xs_offset_6 {margin-left: 50%;}
    .col_xs_offset_7 {margin-left: calc((100%/12) *7);}
    .col_xs_offset_8 {margin-left: calc((100%/12) *8);}
    .col_xs_offset_9 {margin-left: calc((100%/12) *9);}
    .col_xs_offset_10 {margin-left: calc((100%/12) *10);}
    .col_xs_offset_11 {margin-left: calc((100%/12) *11);}
}